<section class="row" ng-controller="SettingsController">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">

                <div ng-if="error">
                    <uib-alert type="danger" role="alert" dismiss-on-timeout="10000" close="closeError()">{{error}}
                    </uib-alert>
                </div>

                <div class="login-section">
                    <h2>New User</h2>

                    <div class="login-box">
                        <h3><i class="glyphicon glyphicon-user"></i> New User</h3>

                        <form role="form" name="signupForm" ng-submit="signup()" novalidate autocomplete="off"
                              class="user-loginform signin">
                            <fieldset>
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input type="text" required id="firstName" name="firstName" class="form-control"
                                           ng-model="credentials.firstName" placeholder="First Name">
                                </div>
                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" id="lastName" name="lastName" class="form-control"
                                           ng-model="credentials.lastName" placeholder="Last Name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" id="email" name="email" class="form-control"
                                           ng-model="credentials.email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" id="username" name="username" class="form-control"
                                           ng-model="credentials.username" placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" id="password" name="password" class="form-control"
                                           ng-model="credentials.password" placeholder="Password" ng-minlength="8"
                                           ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$&*])/" required>

                  <span style="color:red" ng-show="signupForm.password.$dirty && signupForm.password.$invalid"><span
                          ng-show="signupForm.password.$error.required">Password is required.</span> <span class="error"
                                                                                                           ng-show="signupForm.password.$error.minlength">
                    Password length should be minimum 8 characters!</span>
                  <span class="error" ng-show="signupForm.password.$error.pattern">
                     Password should contain alphanumeric letters and atleast one special character (! @ # $ & *)</span>
                    </span>
                                </div>
                                <div class="form-group">
                                    <label for="role">Role</label>
                                    <select ng-model="defroles" name="roles" id="role"
                                            ng-options="role for role in roles" class="form-control">
                                    </select>
                                </div>

                                <div class="user-submit">
                                    <button type="submit"
                                            ng-disabled="signupForm.password.$invalid || signupForm.password.$error.pattern || signupForm.password.$error.minlength"
                                            class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Create User
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
