
<section class="row" ng-controller="MainPageController as $ctrl">
    <div class="container-fluid" ng-init="$ctrl.init()">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 vcenter">
                <div class="login-section" ng-if="!$ctrl.isModalOpen">
                    <div class="hero-menu">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                 <button type="button" class="btn btn-default" ng-click="$ctrl.open('lg','invitation')"><span class="glyphicon glyphicon-modal-window">
                                 </span> </button>
                                 <p> Invitation </p>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <button type="button" class="btn btn-default" ng-click="$ctrl.open('lg','register')"><span class="glyphicon glyphicon-barcode">
                                </span> </button>
                                <p> Get Your Wedding Ticket !</p>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <button type="button" class="btn btn-default" ng-click="$ctrl.open('lg','invitation')"><span class="glyphicon glyphicon-barcode">
                                </span></button>
                                <p> Get Your Wedding Ticket !</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <button type="button" class="btn btn-default" ng-click="$ctrl.open('lg','invitation')"><span class="glyphicon glyphicon-barcode">
                                </span></button>
                                <p> Get Your Wedding Ticket !</p>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <button type="button" class="btn btn-default" ng-click="$ctrl.open('lg','invitation')"><span class="glyphicon glyphicon-barcode">
                                </span></button>
                                <p> Get Your Wedding Ticket !</p>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <button type="button" class="btn btn-default" ng-click="$ctrl.open('lg','invitation')"><span class="glyphicon glyphicon-barcode">
                                </span></button>
                                <p> Get Your Wedding Ticket !</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

