
<section class="row" ng-controller="MainPageController as $ctrl">
    <div class="container-fluid" ng-init="$ctrl.init()">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 vcenter">
                <div class="login-section" ng-if="!$ctrl.isModalOpen">
                    <div class="hero-menu">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                 <button type="button" class="btn btn-default" ng-click="$ctrl.open('lg','invitation')">
                                     <span class="glyphicon glyphicon-modal-window">
                                 </span> </button>
                                 <p> Invitation </p>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <button type="button" class="btn btn-default" ng-click="$ctrl.open('lg','register')">
                                    <span class="glyphicon glyphicon-list-alt">
                                </span> </button>
                                <p> Let us know your Plan </p>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <button type="button" class="btn btn-default" ng-click="$ctrl.open('lg','events')">
                                    <span class="glyphicon glyphicon-calendar">
                                </span></button>
                                <p> Block Your Calendar </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="!$ctrl.isModalOpen">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 vcenter">
                <div class="comments">
                    <h2>Post your Selfies and Blessing by tagging our page <code>@ramwedspragatha</code> in facebook and
                        <code>#ramwedspragatha</code> in Google Plus</h2>
                </div>
                <div class="social-feed-container" social-feed></div>
            </div>
        </div>
    </div>
</section>

