<div class="container">
    <form class="form-horizontal" method="post" action="">
        <fieldset>
            <div class="row form-group">
                <label class="col-md-2 control-label" for="email">Email</label>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-envelope"></i>
                        </span>
                        <input id="email"  name="email" placeholder="example@gmail.com"
                               class="form-control input-md">
                    </div>
                </div>
                <label class="col-md-2 control-label" for="mobile">Contact No</label>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="glyphicon glyphicon-phone"></i>
                        </span>
                        <input id="mobile" maxlength="10" name="mobile" placeholder="xxxxxxxxxxxx"
                               class="form-control input-md ac_mobile" type="number">
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-md-2 control-label" for="first_name">First Name</label>
                <div class="col-md-2">
                    <div class="input-group">
			<span class="input-group-addon">
			<i class="glyphicon glyphicon-user"></i>
			</span>
                   <input id="first_name" name="first_name" placeholder="" class="form-control input-md"
                               type="text">
                    </div>
                </div>

                <label class="col-md-2 control-label" for="middle_name">Mid Name</label>
                <div class="col-md-2">
                    <div class="input-group">
			<span class="input-group-addon">
			<i class="glyphicon glyphicon-user"></i>
			</span>
                        <input id="middle_name" name="middle_name" placeholder="" class="form-control input-md"
                               type="text">
                    </div>
                </div>
                <label class="col-md-2 control-label" for="last_name">Last Name</label>
                <div class="col-md-2">
                    <div class="input-group">
			<span class="input-group-addon">
			<i class="glyphicon glyphicon-user"></i>
			</span>
                        <input id="last_name" name="last_name" placeholder="" class="form-control input-md" type="text">
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <!--<label class="col-md-2 control-label" for="farmer_type">Farmer Type</label>
                <div class="col-md-4">
                    <label class="radio-inline"><input type="radio" name="farmer_type" value="Farmer"
                                                       checked>Farmer</label>
                    <label class="radio-inline"><input type="radio" name="farmer_type"
                                                       value="Politician">Politician</label>
                    <label class="radio-inline"><input type="radio" name="farmer_type" value="Retailer">Retailer</label>
                    <label class="radio-inline"><input type="radio" name="farmer_type" value="Supplier">Supplier</label>
                </div>-->

                <label class="col-md-2 control-label" for="description">Description</label>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="glyphicon glyphicon-pencil"></i>
                        </span>
                        <textarea class="form-control" id="description" name="description"
                                  placeholder="Description"></textarea>
                    </div>
                </div>
            </div>
            <!--<div class="form-group">
                <label class="col-md-3 control-label" for="smartphone">Has Touchscreen Phone ?</label>
                <div class="col-md-3">

                    <label class="radio-inline"><input type="radio" name="smartphone" value=true>Yes</label>
                    <label class="radio-inline"><input type="radio" name="smartphone" value=false>No</label>
                    <label class="radio-inline"><input type="radio" name="smartphone" value=null checked>Don't
                        Know</label>
                    </select>
                </div>
            </div>-->


        </fieldset>
    </form>
</div>