<section ng-controller="ProductController">
    <div class="row">
        <div class="col-sm-6">
            <div class="content-box">
                <h5>Upload the Products CSV file</h5>

                <div class="row">
                    <div class="col-sm-6">
                        <form id="formupload" ng-submit="exceluploads()" class="signin form-horizontal"
                              enctype="multipart/form-data">
                            <fieldset>
                                <input type="file" name="myFile" id="myFile" class="form-control">

                                <p></p>

                                <div class="form-actions">
                                    <button type="submit" class="btn btn-large btn-primary" ng-disabled="isDisabled"
                                            ng-model="isDisabled">upload
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

            <div id="pageLoader" style="display:none;">
                <img src="/assets/modules/core/img/small-loader.gif"/>

                <div class="alert alert-warning alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Please Wait !</strong> While we process your data.
                </div>
            </div>
        </div>
    </div>
    <!-- //three-fourth -->
    <div class="ruler-dashed"></div>
    <h3>Progress <span class="badge">{{progressstatus.currentloop}} / {{progressstatus.maxcount}}</span></h3>
    <uib-progressbar animate="false" value="progressstatus.percent" type="success">
        <b>{{progressstatus.percent}}%</b>
    </uib-progressbar>
    <div class="ruler-dashed"></div>

    <div ng-if="error" class="alert alert-danger" role="alert">
        <strong ng-bind="error"></strong>
    </div>
    <div ng-if="error" class="ruler-dashed"></div>


</section>